<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <!-- Only show add button for admins -->
      <div class="mb-2 d-flex flex-row gap-2" *ngIf="isAdmin">
        <button
          class="btn btn-primary d-flex align-items-center gap-1"
          [routerLink]="['/customers/add']"
        >
          <i class="bi bi-plus h5 mb-0"></i>
          Add Customer
        </button>
      </div>

      <table class="table table-bordered text-center">
        <thead class="table-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers$ | async">
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>
              <div class="d-flex justify-content-center gap-2">
                <!-- Only show delete button for admins -->
                <button
                  *ngIf="isAdmin"
                  class="btn btn-danger btn-sm"
                  (click)="handleDeleteCustomer(customer.id)"
                >
                  <i class="bi bi-trash"></i>
                  Delete
                </button>
                <button
                  class="btn btn-primary btn-sm"
                  [routerLink]="['/customers', customer.id]"
                >
                  <i class="bi bi-eye"></i>
                  View
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
